<% content_for :title, "Editing recipe" %>

<h1>Editing recipe</h1>

<%= render "form", recipe: @recipe %>

<br>

<div>

  <%= link_to "Add steps", new_recipe_step_path(@recipe), class: "btn btn-outline-success"%>
  <%= link_to "Show this recipe", @recipe, class: "btn btn-outline-primary" %>
  <%= link_to "Back to recipes", recipes_path, class: "btn btn-outline-secondary"%>

</div>
