<div id="<%= dom_id ingredients_step %>">
  <p>
    <strong>Ingredient:</strong>
    <%= ingredients_step.ingredient_id %>
  </p>

  <p>
    <strong>Step:</strong>
    <%= ingredients_step.step_id %>
  </p>

</div>
