<% content_for :title, "New ingredients step" %>

<h1>New ingredients step</h1>

<%= render "form", ingredients_step: @ingredients_step %>

<br>

<div>
  <%= link_to "Back to ingredients steps", ingredients_steps_path %>
</div>
