<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Decription:</strong>
    <%= ingredient.description %>
  </p>

  <p>
    <strong>Mesurement:</strong>
    <%= ingredient.mesurement %>
  </p>

</div>
