


<div class="container mt-5">
  <div class="row">
    <div class="col">
      <%= image_tag 'hook.PNG', style: 'max-width: 400px; max-height: 400px; width: auto; height: auto;' %>
    </div>
    <div class="col">
      <h1>Welcome to Hook's cookbook</h1>
      <p>I am capitian Hook and yes, i am a hawk! </p>
      <p>I used tobe a pirate but I have found that I would rather make people happy.</p>
      <p>So I became a cook </p>
      <p>Welcome to my cookbook, where You can share recipes, learn to cook new ones and comment others recipes</p>
    </div>
  </div>
</div>
