<div class="ingredient-field my-3 p-2 border border-dark-subtle rounded-2">
  <%= f.association :ingredient, include_blank: 'Select ingredient' %>
  <%= f.input :quantity %>
  <%= f.input :unit %>

  <%= link_to_remove_association "Remove Ingredient", f, class:"btn btn-outline-danger" %>
</div>